<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>
    <title>
        Purchases
    </title>

    <body>
        <%- include('../partials/_navbar') %>
        PURCHASES

            <% for(let i=0;i<purchases.length;i++) { %>
                <div>
                    <%= purchases[i].title %>

                        <%= purchases[i].price%>
                </div>
                <div>
                    <img src="<%=purchases[i].image%>" width="250px">

                </div>
                <% } %>

    </body>