<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>
    <title>
        Purchases
    </title>
    <link rel="stylesheet" href="/styles/shopping/purchases.css">

    <body>
        <%- include('../partials/_navbar') %>
            <div class="main_container">
                <h1 class="page_title">Your Purchase History</h1>
                <div class="items_container">
                    <% for(let i=purchases.length-1;i>=0;i--) { %>
                        <a href="/gallery/<%= purchases[i].id %> ">
                            <div class="item_card">
                                <div class="item_image_span">
                                    <img class="item_image" src="<%=purchases[i].image%>" width="300px">
                                </div>
                                <div class="item_info">
                                    <span class="item_title">
                                        <h2>
                                            <%= purchases[i].title %>
                                        </h2>
                                    </span>
                                    <span class="item_user">
                                        <h4>by: <%= purchases[i].user.username %> </h4>
                                    </span>
                                    <span class="item_price">
                                        <h2>$<%= purchases[i].price%>
                                        </h2>
                                    </span>
                                    <p class="item_description">
                                        <%= purchases[i].description%>
                                    </p>
                                </div>

                            </div>
                        </a>

                        <% } %>
                </div>
            </div>
    </body>