<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>
    <title>
        ALL CONVOS
    </title>
    <link rel="shortcut icon" href="/styles/logo.svg">
    <link rel="stylesheet" href="/styles/form.css">
    
<link rel="stylesheet" href="/styles/conversation/all.css">

    <body>
        <%- include('../partials/_navbar') %>
            <div class="main_container">
                <% for(let i=0;i<conversations.length;i++) { %>
                    <div>
                        <a href="/conversation/<%=conversations[i]._id%>">
                            <img src="<%= userConversations[i].avatar %> " alt="" srcset="" class="avatar_img">
                            <%= userConversations[i].username %>
                        </a>
                    </div>

                    <% } %>
            </div>

    </body>