<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>
    <title>
        New Message
    </title>
    <link rel="shortcut icon" href="/resources/logo/logo.png">
    <link rel="stylesheet" href="/styles/posts/new.css">

    <body>
        <%- include('../partials/_navbar') %>
        <div class="main_container">
            <div class="form" style="height:30vh">
                <h1 class="form__name">Send a Message to <%= receiver.username %> </h1>
                <form action="/conversation/message/new/<%=receiver.id%>" method="POST" id="form__box">
                    <% if (typeof error !=='undefined' ) { %>
                        <article class="message is-danger">
                            <div class="message-header">
                                <p>Danger</p>
                            </div>
                            <div class="message-body">
                                <%= error.message %>
                            </div>
                        </article>
                        <% } %>
                            <div class="form__input mt-5" >
                                <input maxlength="300" type="text" class="input" placeholder="Message text"
                                    name="text" id="message_text" >
                            </div>
                            <div>
                                <button class="form__button">Send Message</button>
                            </div>

                </form>
            </div>
        </div>

    </body>

</html>