<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>

    <body>
        <%- include('../partials/_navbar') %>
            <div>
                <% for(let i=0;i<allMessages.length;i++) { %>
                    <div>
                        <% if (allMessages[i].sender==currentUser.id) { %>
                            <img src="<%= currentUser.avatar %> " alt="" srcset="" width="50px">
                            <%= new Intl.DateTimeFormat('en-US').format(allMessages[i].createdAt) %>
                                <%= currentUser.username %>: <%= allMessages[i].text %>
                                        <% } else {%>
                                            <img src="<%= otherUser.avatar %> " alt="" srcset="" width="50px">
                                            <%= new Intl.DateTimeFormat('en-US').format(allMessages[i].createdAt) %>
                                                <%= otherUser.username %>: <%= allMessages[i].text %>
                                                        <% } %>
                    </div>
                    <% } %>
            </div>



            <div class="form__container">
                <h1 class="form__name">Send a Message to <%= otherUser.username %>
                </h1>
                <form action="/conversation/message/new/<%=otherUser.id%>" method="POST" id="form__box">
                    <% if (typeof error !=='undefined' ) { %>
                        <article class="message is-danger">
                            <div class="message-header">
                                <p>Danger</p>
                            </div>
                            <div class="message-body">
                                <%= error.message %>
                            </div>
                        </article>
                        <% } %>
                            <div class="form__input">
                                <label for="text">Send Message</label><br />
                                <input maxlength="300" type="text" class="input" placeholder="Message text" name="text"
                                    id="text">
                            </div>

                            <div>
                                <button class="form__button">Send Message</button>
                            </div>

                </form>
            </div>

    </body>