<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>
    <title>
        Profile
    </title>
    <link rel="stylesheet" href="/styles/users/profile.css">
    <body>
        <%- include('../partials/_navbar') %>
            <div class="main_container">

                YOU HIT THE Profile VIEW

                <%= userProfile.username %>
                    <img src="<%=userProfile.avatar%>" alt="" srcset="" width="150px">

                    <div>
                        <a href="/conversation/message/new/<%=userProfile.id%> ">Send a message</a>
                    </div>

                    <a href="/users/<%=userProfile.id%>/likedposts">Liked posts</a>
                    <a href="/users/<%=userProfile.id%>/update">Update User</a>
                    <% if (!isFollowing) { %>
                        <form action="/users/<%= userProfile.id %>/follow?_method=PUT" method="POST" id="form__box">
                            <button class="form__button">Follow User</button>
                        </form>
                        <% } else { %>
                            <form action="/users/<%= userProfile.id %>/unfollow?_method=PUT" method="POST"
                                id="form__box">
                                <button class="form__button">UnFollow User</button>
                            </form>
                            <% } %>

                                <div class="user_post_container">
                                    <% for (let i=0;i<posts.length;i++){ %>
                                        <div class="card">
                                            <a href="/gallery/<%= posts[i].id %> ">
                                                <img class="profile_post_image" src="<%= posts[i].image %> ">
                                            </a>
                                        </div>
                                        <% }%>
                                </div>

            </div>
    </body>