<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>
    <title>
        Gallery
    </title>
    <link rel="stylesheet" href="/styles/posts/gallery.css">

    <body>
        <%- include('../partials/_navbar') %>
            <div class="gallery_container">
                <span class="user_info_container">
                    <img src="<%= user.avatar %> " alt="" srcset="" width="150px">
                    <div>
                        <%= user.username %>
                    </div>
                </span>
                <span class="main_posts_container">
                    <% if (searchTerm) { %>
                        Now showing results for "<%= searchTerm %>"
                            <% } %>
                                <% for(let i=0;i<posts.length;i++) {%>
                                    <div>
                                        <div>
                                            <a href="/users/<%=posts[i].user.id%>">
                                                <%= posts[i].user.username %>
                                            </a>
                                        </div>
                                        <a href="/gallery/<%= posts[i].id %>">
                                            <img src="<%= posts[i].image %>" width="550px">
                                        </a>
                                    </div>

                                    <% } %>
                </span>
                <span class="followings_container">
                    You are Following:
                    <% for (let i=0;i<followings.length;i++) { %>
                        <a href="/users/<%=followings[i].id%>">
                            <div class="follower_name py-3">
                                <img class="following_avatar " src="<%=followings[i].avatar%>" alt="" srcset="">
                                <%= followings[i].username %>
                            </div>
                        </a>
                        <% } %>

                </span>
            </div>
    </body>