<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>
    <title>
        SHOW
    </title>
    <body>
        <%- include('../partials/_navbar') %>

        YOU HIT THE SHOW POST VIEW

        <%= post.title  %> 
        <%= post.tags  %> 
        <%= post.price  %> 
        <%= post.user.username  %> 
        <%= post.description  %> 
        <img src="<%=post.image%> " alt="" srcset="">
    </body>
