<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>
    <title>
        <%= post.title %>
    </title>
    <link rel="stylesheet" href="/styles/posts/show.css">

    <body>
        <%- include('../partials/_navbar') %>
            <div class="main_container">
                <div class="left_container">
                    <div class="card_container">
                        <img class="post_image" src="<%=post.image%>">
                        <h1 id="post_title">
                            <%= post.title %>
                        </h1>
                        <a id="post_title" href="/users/<%= post.user.id %>">
                            <h6>by <%= post.user.username %>
                            </h6>
                        </a>
                        <h2 class="post_price">
                            $<%= post.price %>
                        </h2>
                        <p class="mx-3">
                            <%= post.description %> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia
                                debitis laboriosam iusto similique suscipit, porro et itaque placeat necessitatibus quo
                                ipsum sed ratione excepturi, doloremque assumenda, veniam possimus natus explicabo!
                        </p>
                        <p class="mx-3">
                            Tags: 
                            <% for(let i = 0;i<post.tags.length;i++) { %> 
                                <a href="/gallery?q=<%=post.tags[i]%>"><%= post.tags[i] %> </a>
                            <% } %> 
                        </p>
                        <p class="mx-3">
                            Liked <%= likes.numLikes %> times
                        </p>
                        <div class="buttons_container">
                            <% if ( typeof user !=='undefined' ) { %>
                                <form action="/users/cart/<%= post.id %>?_method=PUT" method="POST">
                                    <input class="post_button" type="submit" value="Add to Cart" />
                                </form>
                                <% if(!isLiked){ %>
                                    <form action="/likes/<%= post.id %>?_method=PUT" method="POST">
                                        <input class="post_button" type="submit" value="Like" />
                                    </form>
                                    <% } else { %>
                                        <form action="/likes/<%= post.id %>/unlike?_method=PUT" method="POST">
                                            <input class="post_button" type="submit" value="Unlike" />
                                        </form>
                                        <% }} %>
                                            <% if ( typeof user !=='undefined' && (post.user._id==user.id)) { %>
                                                <a class="post_button" href="/gallery/<%=post.id%>/update ">Update</a>
                                                <form action="/gallery/<%= post.id %>?_method=DELETE" method="POST">
                                                    <input class="post_button" type="submit" value="Delete Post" />
                                                </form>
                                                <% } %>
                        </div>
                    </div>
                </div>
                <div class="comments_container">
                    <h4 class="comment_count">
                        <%= comments.length %> comments
                    </h4>
                    <% for(let i=0;i<comments.length;i++) { %>
                        <div class="comment_container">
                            <div>
                                <a href="/users/<%= comments[i].user.id %> ">
                                    <img class="comment_avatar" src="<%= comments[i].user.avatar %>" alt="" srcset="">
                                </a>
                            </div>
                            <div>
                                <a href="/users/<%= comments[i].user.id %> ">
                                    <%= comments[i].user.username %>
                                </a>:
                                <%= comments[i].content %>
                                    <% if ( typeof user !=='undefined' && (comments[i].user._id==user.id)) { %>
                                        <form action="../comments/<%=comments[i].id%>?_method=DELETE" method="POST">
                                            <button class="button post_button delete_comment_button">
                                                Delete Comment
                                            </button>
                                        </form>
                                        <% } %>
                            </div>
                        </div>
                        <% } %>
                            <% if (user) { %>
                                <div class="comment_form">
                                    <form action="../comments" method="POST">
                                        <div class="align">
                                            <img class="comment_avatar" src="<%= user.avatar%>" alt="" srcset="">

                                            <input class="input" type="text" name="content"
                                                placeholder="Leave a comment!" required />
                                            <input type="hidden" name="post" value="<%= post._id %>" />
                                            <button class="button ">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <% } %>
                </div>

            </div>
    </body>