<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>
    <title>
        SHOW
    </title>
    <body>
        <%- include('../partials/_navbar') %>

        YOU HIT THE SHOW POST VIEW

        <%= post.title  %> 
        <%= post.tags  %> 
        <%= post.price  %> 
        <%= post.user.username  %> 
        <%= post.description  %> 
        <img src="<%=post.image%> " width="250px">

        <a href="/gallery/<%=post.id%>/update ">UPDATE</a>

        <form action="/gallery/<%= post.id %>?_method=DELETE" method="POST">
            <input class="button" type="submit" value="Delete Post" />
        </form>
        <div class="comment_form">
            <form action="../comments" method="POST">
                <div class="align">

                    <input class="input" type="text" name="content" placeholder="Leave a comment!"
                        required />
                    <input type="hidden" name="post" value="<%= post._id %>" />

                    <div>
                        <button class="button ">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        
    </body>
