<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>
    <title>
        SHOW
    </title>

    <body>
        <%- include('../partials/_navbar') %>

            YOU HIT THE SHOW POST VIEW

            <%= post.title %>
                <%= post.tags %>
                    <%= post.price %>
                        <%= post.user.username %>
                            <%= post.description %>
                                <img src="<%=post.image%> " width="250px">
                                <% if ( typeof user !=='undefined' && (post.user._id==user.id)) { %>
                                <a href="/gallery/<%=post.id%>/update ">UPDATE</a>
                                <form action="/gallery/<%= post.id %>?_method=DELETE" method="POST">
                                    <input class="button" type="submit" value="Delete Post" />
                                </form>
                                <% } %> 

                                <% for(let i=0;i<comments.length;i++) { %>
                                    <div>
                                        <%= comments[i].content %>
                                        <% if ( typeof user !=='undefined' && (comments[i].user._id==user.id)) { %>
                                            <form action="../comments/<%=comments[i].id%>?_method=DELETE" method="POST">
                                                <div>
                                                    <button class="button ">Delete Comment</button>
                                                </div>
                                            </form>
                                        <% } %> 
                                    </div>
                                    <% } %>
                                        <div class="comment_form">
                                            <form action="../comments" method="POST">
                                                <div class="align">

                                                    <input class="input" type="text" name="content"
                                                        placeholder="Leave a comment!" required />
                                                    <input type="hidden" name="post" value="<%= post._id %>" />

                                                    <div>
                                                        <button class="button ">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>


    </body>